<!DOCTYPE html>
<html>
  <head>
    <title>Event Planner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- delete endpoing bugging witha  get instead of delete requset on click thought this might help... -->
    <%= javascript_include_tag 'rails-ujs', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
        <h2>Registered Events</h2>

        <table>
        <thead>
            <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <% @events.each do |event| %>
            <tr>
                <td><%= event.title %></td>
                <td><%= event.description %></td>
                <td><%= event.start_date %></td>
                <td><%= event.end_date %></td>
                <td><%= event.location %></td>
                <td><%= link_to "Edit", edit_event_path(event) %></td>
                <td><%= link_to "Delete", event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
        </tbody>
        </table>

        <%= link_to "Show All Users Events", events_path(show_all: true), class: "show-all-link" %>
        <%= link_to "Show My Events", events_path, class: "show-my-events-link" %>
    </div>

    <hr />

    <div>
        <h2>Create an Event</h2>

        <%= form_with(model: Event.new, url: events_path, method: :post) do |form| %>
            <div style="display: flex; flex-direction: column; gap: 1em;">
                <div style="display: flex; align-items: center; margin-bottom: 1em;">
                <div style="width: 100px;">
                    <%= form.label :title %>
                </div>
                <%= form.text_field :title %>
                </div>

                <div style="display: flex; align-items: center; margin-bottom: 1em;">
                <div style="width: 100px;">
                    <%= form.label :description %>
                </div>
                <%= form.text_area :description %>
                </div>

                <div style="display: flex; align-items: center; margin-bottom: 1em;">
                <div style="width: 100px;">
                    <%= form.label :start_date %>
                </div>
                <%= form.datetime_local_field :start_date %>
                </div>

                <div style="display: flex; align-items: center; margin-bottom: 1em;">
                <div style="width: 100px;">
                    <%= form.label :end_date %>
                </div>
                <%= form.datetime_local_field :end_date %>
                </div>

                <div style="display: flex; align-items: center; margin-bottom: 1em;">
                <div style="width: 100px;">
                    <%= form.label :location %>
                </div>
                <%= form.text_field :location %>
                </div>

                <div>
                <%= form.submit "Create Event" %>
                </div>
            </div>
        <% end %>
    </div>
    
    <hr />

    <div>
        <a href="/weather/Dublin">Checkout Current Forecast</a>
    </div>

    <hr />

    <div>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %>
    </div>
  </body>
</html>
